.true {
  display: none;
}

p {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  color: #998b97;
  margin-top: -5px;
}

button {
  background: none;
  border: none;
}

img {
  width: 20%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  p {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    color: #998b97;
    margin-top: -5px;
  }

  img {
    width: 10%;
  }
}
